samtest/sam-app/statemachine/approval_workflow_spring.asl.json
{
  "Comment": "Human approval workflow with Spring Boot service + SQS callback + Task Token",
  "StartAt": "CreateRequest",
  "States": {
    "CreateRequest": {
      "Type": "Task",
      "Resource": "arn:aws:states:::apigateway:invoke",
      "Parameters": {
        "ApiEndpoint": "d9cqb09898.execute-api.us-east-1.amazonaws.com",
        "Path": "/create-request",
        "Method": "POST",
        "RequestBody": "$.body",
        "AuthType": "IAM_ROLE"
      },
      "Next": "ParseCreateRequestOutput",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FinalizeFailedCreate"
        }
      ]
    },
    "ParseCreateRequestOutput": {
      "Type": "Pass",
      "Parameters": {
        "parsedBody.$": "States.StringToJson($.ResponseBody)",
        "statusCode.$": "$.StatusCode"
      },
      "Next": "CheckCreateStatus"
    },
    "CheckCreateStatus": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            { "Variable": "$.statusCode", "NumericGreaterThanEquals": 200 },
            { "Variable": "$.statusCode", "NumericLessThan": 300 }
          ],
          "Next": "SendApprovalToQueue"
        }
      ],
      "Default": "FinalizeFailedCreate"
    },
    "SendApprovalToQueue": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Parameters": {
        "QueueUrl": "${QueueUrl}",
        "MessageBody": {
          "taskId.$": "$.parsedBody.taskId",
          "assessorEmail.$": "$.parsedBody.assessorEmail",
          "title.$": "$.parsedBody.title",
          "taskToken.$": "$$.Task.Token"
        }
      },
      "TimeoutSeconds": 172800,
      "Next": "FinalizeSuccess",
      "Catch": [
        { "ErrorEquals": ["States.Timeout"], "ResultPath": "$.error", "Next": "EnrichTimeoutError" },
        { "ErrorEquals": ["States.ALL"],     "ResultPath": "$.error", "Next": "EnrichGenericError" }
      ]
    },
    "EnrichTimeoutError": {
      "Type": "Pass",
      "Parameters": {
        "taskId.$": "$.parsedBody.taskId",
        "decision": "TIMED_OUT",
        "comments": "Human did not respond before timeout",
        "errorDetails.$": "$.error"
      },
      "Next": "FinalizeGeneric"
    },
    "EnrichGenericError": {
      "Type": "Pass",
      "Parameters": {
        "taskId.$": "$.parsedBody.taskId",
        "decision": "FAILED",
        "comments": "Unhandled error in wait",
        "errorDetails.$": "$.error"
      },
      "Next": "FinalizeGeneric"
    },
    "FinalizeSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${FinalizeArn}",
        "Payload.$": "$"
      },
      "End": true
    },
    "FinalizeGeneric": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${FinalizeArn}",
        "Payload.$": "$"
      },
      "End": true
    },
    "FinalizeFailedCreate": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${FinalizeArn}",
        "Payload": {
          "taskId": "",
          "decision": "FAILED",
          "comments": "CreateRequest failed"
        }
      },
      "End": true
    }
  }
}